<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="Stylesheet" type="text/css" href="../Content/MetroUICss/estilos.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular.min.js"></script>
    <script src="Angular/App/Core.js"></script>
    <script src="Angular/Controller/tableroController.js"></script>
</head>
<body ng-app="MetroUIAccess">
    
    <section class="wrapper" ng-controller="MetroUIAccessCtrl">
        <article class="flexContainer">
            <!--<span>{{CubosLimpios}}</span>
            <span>******************</span>
            <span>{{CubosLimpios[1]}}</span>-->
            <article class="rowContainer" ng-repeat="i in [1,2,3,4]">
                <!--<h3>New Column {{i}}</h3>-->
                <div class="rowWidth">
                    <div ng-repeat="cuadrado in CubosLimpios | filter:{Columna: i}" ng-if="cuadrado[0].Tamano=='Grande'" class="big pos">
                        {{cuadrado.Orden}}
                    </div>
                    <div ng-repeat="cuadrado in CubosLimpios | filter:{Columna: i}" ng-if="cuadrado[0].Tamano=='Medio'" class="med pos">
                        {{cuadrado.Orden}}
                    </div>

                    <div class="square4x4containerOr3x1" ng-repeat="cuadrado in CubosLimpios | filter:{Columna: i}" ng-if="cuadrado[0].Tamano=='Chico'" ng-include src="'/Angular/Template/cuboChicoTemplate.html'">
                            
                    </div>
                    </div>
        </article>
        </article>
    </section>
</body>
</html>
